  <%= devise_error_messages! %> 
  <div class="box body">
    <h2 class="h1">Sign up</h2>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    

      <div class="field">
        <%= f.text_field :username, autofocus: true, autocomplete: "username", class: "email", placeholder: "Username" %>
      </div>

      <div class="field">
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "email", placeholder: "Email" %>
      </div>

      <div class="field">
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "new-password", class: "email", placeholder: "Password" %>
      </div>

      <div class="field">
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "email", placeholder: "Confirm password" %>
      </div>

      <div>
        <%= f.submit "Sign up", class: "btn2 center-block" %>
        <%= render "devise/shared/links" %> 
      </div>
    <% end %>
  </div>
