<div class="search-page">
  <% if @posts.exists? %>
    <%= render 'shared/message', message: "Top posts", key: "dark" %>
    <div class="user-images">
      <% @posts.each do |post|%>
        <div class="wrapper">
          <%=link_to post_path(post) do %>
            <%=image_tag post.image %>
          <% end %>
        </div>
      <% end %>
    </div>
  <% else %>
    <%= render 'shared/message', message: "Ops! no matching posts.", key: "primary" %>
  <% end %>
</div>