<%= render 'shared/errors', object: @user, name: 'user' %>
<div class="user-edit-page">
  <div class="actions">
    <div class="nav flex-column nav-pills" role="tablist" aria-orientation="vertical">
      <a class="nav-link active" data-toggle="pill" href="#v-pills-home" role="tab" aria-selected="true">Edit Profile</a>
    </div>
  </div>
  <div class="details tab-content">
    <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
      <%= form_for(@user, local: true, html: {class: "form-horizontal form-edit-user", role: "form"}) do |f| %>
        <div class="form-group row">
            <div class="col-sm-3 col-form-label">
              <% if @user.avatar.attached? %>
                <%= image_tag @user.avatar, class: 'avatar' %>
              <%end %>
            </div>
            <div class="col-sm-9">
            <p class="username"><%=@user.username %></p>
            </div>
        </div>
        <div class="form-group row">
          <%= f.label :avatar, class: 'col-sm-3 col-form-label' %>
          <div class="col-sm-9">
            <%= f.file_field :avatar, class: 'form-control' %>
          </div>
        </div>
        <div class="form-group row">
            <%= f.label :name, class: 'col-sm-3 col-form-label' %>
            <div class="col-sm-9">
            <%= f.text_field :name, class: 'form-control' %>
            </div>
        </div>
        <div class="form-group row">
            <%= f.label :username, class: 'col-sm-3 col-form-label' %>
            <div class="col-sm-9">
            <%= f.text_field :username, class: 'form-control' %>
            </div>
        </div>
        <div class="form-group row">
            <%= f.label :website, class: 'col-sm-3 col-form-label' %>
            <div class="col-sm-9">
            <%= f.text_field :website, class: 'form-control' %>
            </div>
        </div>
        <div class="form-group row">
            <%= f.label :bio, class: 'col-sm-3 col-form-label' %>
            <div class="col-sm-9">
            <%= f.text_area :bio, class: 'form-control' %>
            </div>
        </div>
        <div class="form-group row">
            <%= f.label :email, class: 'col-sm-3 col-form-label' %>
            <div class="col-sm-9">
            <%= f.text_field :email, class: 'form-control' %>
            </div>
        </div>
        <div class="form-group row">
            <%= f.label :phone, class: 'col-sm-3 col-form-label' %>
            <div class="col-sm-9">
            <%= f.text_field :phone, class: 'form-control' %>
            </div>
        </div>
        <div class="form-group row">
            <%= f.label :gender, class: 'col-sm-3 col-form-label' %>
            <div class="col-sm-9">
            <%= f.text_field :gender, class: 'form-control' %>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-3">
            </div>
            <div class="col-sm-9">
            <%= f.submit "Edit", class: 'btn btn-primary' %>
            </div>
        </div>
        <% end %>
    </div>
  </div>
</div>