<div class="user-profile">
  <div class="profile row">
    <div class="col-md-4 avatar">
      <div class="wrapper">
        <% if @user.avatar.attached? %>
          <%= image_tag @user.avatar %>
        <% else %>
          <%= image_tag("image.jpg") %>
        <% end %>
      </div>
    </div>
    <div class="col-md-8 basic-info">
      <div class="user-wrapper">
        <h2 class="username"><%= @user.username %></h2>
        <% if current_user == @user %>
        <a>
          <%= link_to "Edit profile", edit_user_path(@user), class: "edit-profile"%>
        </a>
        <a>
          <%= link_to "Create post", new_post_path(@user), class: "edit-profile"%>
        </a>
        <% end %>
      </div>
      <ul class="posts">
        <li><span><%= pluralize(@posts.count, "post") %></span></li>
        <li><span>195</span> followers</li>
        <li><span>345</span> following</li>
      </ul>
      <% if @user.name?%>
        <h2 class="name"><%= @user.name %></h2>
      <% end %>
      <% if @user.website?%>
        <h2 class="website"> <%= @user.website %></h2>
      <% end %>
    </div>
  </div>
</div>

<div class="user-tabs">
  <a class="tab active" href="">
    <i class="fa fa-th"></i>
    POSTS
  </a>
  <a class="tab" href="">
    <i class="fa fa-tv"></i>
    IGTV
  </a>
  <a class="tab" href="">
    <i class="fa fa-bookmark"></i>
    SAVED
  </a>
  <a class="tab" href="">
    <i class="fa fa-tag"></i>
    TAGGED
  </a>
</div>

<div class="user-images">
  <% if @posts.any? %>
    <% @posts.each do |post|%>
      <div class="wrapper">
        <%=link_to post_path(post) do %>
          <%=image_tag post.image %>
        <% end %>
      </div>
    <% end %>
  <% else %>
    <%= render 'shared/message', message: "There are no posts to show.", key: "primary" %>
  <% end %>
</div>
