<% if object.errors.any? %>
  <div class="panel panel-danger col-md-offset-1">
    <div class="panel-heading">
      <h2 class="panel-title">
        <%= pluralize(object.errors.count, "error") %>
        prohibited this <%= name %> from being saved:
      </h2>
      <div class="panel-body">
        <ul>
          <% object.errors.full_messages.each do |msg| %>
          <li>
            <%= msg %>
          </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
<% end %>