<footer class="container footer">
  <nav class="navbar d-flex">
    <ul>
      <li>ABOUT US</li>
      <li>SUPPORT</li>
      <li>PRESS</li>
      <li>API</li>
      <li>JOBS</li>
      <li>PRIVACY</li>
      <li>TERMS</li>
      <li>DIRECTORY</li>
      <li>PROFILES</li>
      <li>HASHTAGS</li>
      <li>LANGUAGE</li>
      </ul>
    <p> © 2019 INSTAGRAM </p>
  </nav>
</footer>