<nav class="navbar navbar-light bg-light d-flex">
  <div class="container">
    <div class="logo">
      <a class="navbar-brand" href="/">
        <%= fa_stacked_icon "camera inverse", base: "circle"%>
          Instagram
      </a>
    </div>
    <div class="m-auto">
      <%= form_with url: search_path, method: :get, local: true, class: 'form-inline search-form' do |form| %>
        <%= form.text_field :query, value: params[:query], class: 'form-control mr-sm-2', placeholder: '#search' %>
      <% end %>
      </div>
      <div class="user-section">
        <% if user_signed_in? %>
          <a><%= link_to "#{current_user.username}", user_path(current_user)%>
            <i class="fa fa-user"></i>
          </a>
          <a><%= link_to "Sign out", destroy_user_session_path, method: :delete, data: { confirm: 'Are you sure?' } %>
            <i class="fa fa-user-times"></i>
          </a>
        <% else %>
          <a><%= link_to "Sign in", new_user_session_path %>
            <i class="fa fa-sign-in"></i>
          </a>
          <a><%= link_to "Sign up", new_user_registration_path %>
            <i class="fa fa-user-plus"></i>
          </a>
        <% end %>
      </div>
  </div>
</nav>