<div class="posts-home">
  <% if @posts.any? %>
    <% @posts.each do |post| %>
      <section class="post">
      <div class="user">
        <div class="avatar">
          <%= link_to user_path(post.user) do %>
            <% if post.user.avatar.attached? %>
              <%= image_tag post.user.avatar %>
            <% else %>
              <%= image_tag src="https://www.tipsaludable.com/wp-content/uploads/2017/08/b1-8.jpg" %>
            <% end %>
          <% end %>
        </div>
        <%= link_to post.user.username, user_path(post.user), class: 'username' %>
      </div>
      <%= image_tag post.image, class: 'main-image' %> 
        <div class="description">
          <% post.description.to_s.split(' ').each do |word| %>
            <% if word.start_with?('#') %>
              <%= link_to word, search_path(query: word) %>
            <%else %>
              <%= word %>
            <%end %>
          <% end %>
        </div>
      </section>
    <% end %>
  <% else %>
    <%= render 'shared/message', message: "There are no posts to show.", key: "primary" %>
  <% end %>
  <%= paginate @posts %>
</div>