<div class="body box">
  <h2 class="h1">Sign in</h2>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="field">
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "email", placeholder: "Email" %>
    </div>

    <div class="field">
      <%= f.password_field :password, autocomplete: "current-password", class: "email", placeholder: "Password" %>
    </div>

    <% if devise_mapping.rememberable? -%>
      <div class="field">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me %>
      </div>
    <% end -%>

    <div>
      <%= f.submit "Log in", class: "btn2 center-block" %>
      <%= link_to "Sign up", new_user_registration_path, class: "btn center-block" %>
    </div>
  <% end %>
</div>
