  <%= render 'shared/errors', object: @post, name: 'post' %>
  <%= form_for(@post, :html => {class: "form-upload", role: "form"}) do |f| %>
  
  <h1 class="h1 center-block">Create post</h1>
    <br>
    <div class="form-group">
      <%= f.text_field :description, id: "description" %>
    </div>
    <div class="form-group">
      <label class="btn btn-default btn-change-avatar center-block labelUploader">
        Upload new image
        <span style="display: none;">
          <%= f.file_field :image, id: "fileUploader"%>
        </span>
      </label>
    </div>
    <br>
    <div class="text-center">
      <%= f.submit 'Create post', class: 'btn btn-primary' %>
    </div>
  <% end %>
