<div class="post-show row">
  <div class="col-md-8">
    <%=image_tag @post.image, class: 'image' %>
  </div>
  <div class="col-md-4">
    <div class="user">
      <div class="avatar">
        <% if @post.user.avatar.attached? %>
          <%= link_to user_path(@post.user) do %>
            <%= image_tag @post.user.avatar %>
          <% end %>
        <% end %>
      </div>
      <%= link_to @post.user.username, user_path(@post.user), class: 'username' %>
      <div class="delete">
        <% if current_user == @post.user %>
          <%= link_to 'Remove', post_path(@post), method: :delete, data: { confirm: 'Are you sure?' } %>
        <% end %>
      </div>
    </div>
    <div class="description">
      <% @post.description.to_s.split(' ').each do |word| %>
        <% if word.start_with?('#') %>
          <%= link_to word, search_path(query: word) %>
        <%else %>
          <%= word %>
        <%end %>
      <% end %>
    </div>
    <hr>
    <div class='col-md-12 comments'>
      <% if @post.comments.any? %>
        <div id="messages">
          <% persisted_comments(@comments).each do |comment| %>
            <div class="comment-body">
              <%= link_to comment.user.username, user_path(comment.user), class: 'username' %>: <%= comment.body %>
            </div>
            <hr>
          <% end %>
        </div>
      <% end %>
    </div>
    <% if user_signed_in? %>
     <div class='col-md-12 comment'>
        <%= form_for [@post, @comment], remote: true, :html => {class: "form-horizontal", role: "form"} do |f| %>
          <input type="hidden" id="post_id" value=<%= "#{@post.id}" %>>
          <div class='form-group'>
            <div class='col-md-12'>
              <%= f.text_field :body, rows: 10, class: 'form-control', placeholder: 'Your comment' %>
            </div>
          </div>
          <div class='invisible'>
            <div class=''>
              <%= f.submit "Add Comment", class: 'add-comment-button' %>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
