@import "bootstrap";
@import "font-awesome";
@import "users";
@import "posts";
@import "home";
@import "comments";

.container {
    max-width: 1000px;
}

.navbar {
    border-bottom: 1px solid rgba(0, 0, 0, .0975);
    margin-bottom: 3%;
}

.user-section {
    a {
        padding-left: 15px;
    }

    i.fa {
        font-size: 22px;
        color: #000000d4;
    }
}

.search-form {
    input {
        font-size: 13px;
        text-align: center;
    }
}

.footer {
    font-size: 12px;
    padding-top: 30px;

    ul {
        padding-left: 0;

        >li {
            display: inline;
            padding-right: 15px;
            color: #003569;
        }
    }

    p {
        color: #999;
    }
}

// Devise Error Messages
#error_explanation, .panel-heading {
    background-color: #f2dede;
    color: #a94442;
    text-align: center;
    padding: 5px 20px;
    margin-bottom: 30px;

    ul {
        display: inline-block;
    }
}

#error_explanation h2 {
    font-size: 150%;
}