// Place all the styles related to the comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.comments {
  overflow: auto;
  height: 260px;
  max-height: 260px;
}

.comment {
  padding-top: 5%;
}