// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.posts-home {
    margin: 50px 180px 10px;

    .post {
        border: 1px solid #efefef;
        margin: 60px 0;
        border-radius: 3px;

        .user {
            border-bottom: 1px solid #efefef;
            display: flex;

            .avatar {
                width: 30px;
                margin: 8px;

                img {
                    width: 100%;
                    border: 1px solid #efefef;
                    border-radius: 50%;
                }
            }

            .username {
                padding-top: 13px;
                color: #262626;
                font-size: 14px;
                font-weight: 600;
            }
        }

        .main-image {
            width: 100%;
            border-bottom: 1px solid #f4f4f4;
        }

        .description {
            padding: 20px;
        }
    }
}

.pagination {
    span {
        padding-right: 10px;
    }
}

// Login
.body {
    font-family: 'Open Sans', sans-serif;
    background: #3498db;
    margin: 0 auto 0 auto;
    width: 100%;
    text-align: center;
    margin: 20px 0px 20px 0px;
}

.p {
    font-size: 12px;
    text-decoration: none;
    color: #ffffff;
}

.h1 {
    font-size: 1.5em;
    color: #525252;
}

.box {
    background: white;
    width: 350px;
    border-radius: 10px;
    margin: 0 auto 0 auto;
    padding: 25px 0px 25px 0px;
    border: #29b4b9 4px solid;
}

.email {
    background: #ecf0f1;
    border: #ccc 1px solid;
    border-bottom: #ccc 2px solid;
    padding: 8px;
    width: 250px;
    color: #AAAAAA;
    margin-bottom: 20px;
    font-size: 1em;
    border-radius: 4px;
}

.password {
    border-radius: 4px;
    background: #ecf0f1;
    border: #ccc 1px solid;
    padding: 8px;
    width: 250px;
    font-size: 1em;
}

.btn {
    background: #2ecc71;
    width: 115px;
    padding-top: 5px;
    padding-bottom: 5px;
    color: white;
    border-radius: 4px;
    border: #27ae60 1px solid;

    margin-top: 20px;
    margin-bottom: 20px;
    // float: right;
    margin-left: 10px;
    font-weight: 800;
    font-size: 0.8em;
}

.btn:hover {
    background: #2CC06B;
}

.btn2 {
    // float: right;
    background: #3498db;
    width: 115px;
    padding-top: 5px;
    padding-bottom: 5px;
    color: white;
    border-radius: 4px;
    border: #2980b9 1px solid;

    margin-top: 20px;
    margin-bottom: 20px;
    // margin-left: 10px;
    font-weight: 800;
    font-size: 0.8em;
}

.btn2:hover {
    background: #3594D2;
}