// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.form-upload {
  padding-top: 5%;
  border: 1px solid #dbdbdb;
  height: auto;
  margin: auto 160px;
  padding: 30px;
  border-radius: 3px;

  input[type='text'] {
    width: 100%;
  }
}

.post-show {
  margin: 30px 5px 0;
  border: 1px solid #dbdbdb;

  .col-md-8 {
    padding: 0;

    .image {
      width: 638px;
      height: 525px;
    }
  }

  .user {
    display: flex;
    padding: 10px 0;
    border-bottom: 1px solid #efefef;

    .avatar {
      width: 40px;
      height: 40px;
      margin: 8px;

      img {
        width: 100%;
        height: 100%;
        border: 1px solid #efefef;
        border-radius: 50%;
      }
    }

    .username {
      padding-top: 15px;
      color: #262626;
      font-size: 14px;
      font-weight: 600;

      &:hover {
        text-decoration: none;
      }
    }
  }

  .description {
    padding: 15px 0;
  }
}

.delete {
  padding-top: 20px;
  padding-left: 30%;

  a {
    font-size: 15px;
    text-decoration: underline;
  }
}

.invisible {
  visibility: hidden;
}

.labelUploader {
  width: 150px !important;
  background: #2980b9 !important;
  display: list-item;
}