<!DOCTYPE html>
<html>
  <head>
    <title>Instagram</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    
  </head>

  <body>
    <%= render 'shared/header' %>

    <%= render 'shared/alerts' %>

    <main class="container" style="min-height: 500px;">
      <%= yield %>
    </main>

    <%= render 'shared/footer' %>
  </body>
</html>